[user]
    name = Lane Liles
    email = lane.liles@gmail.com
[core]
    editor = ec
    autocrlf = false

[color]
    ui = true
[alias]
    st = status
    l = log
    pr = pull --rebase 
    cm = commit -m 
    co = checkout

[diff]
    tool = kdiff3
[difftool "kdiff3"]
    keepBackup = false
    trustExitCode = false
[difftool "meld"]
    keepBackup = false
    trustExitCode = false

[merge]
    tool = kdiff3
[mergetool "kdiff3"]
    keepBackup = false
    trustExitCode = false
[mergetool "meld"]
    keepBackup = false
    trustExitCode = false

