[user]
    name = Lane Liles
    email = lane.liles@gmail.com

[init]
    defaultBranch = main
[core]
    autocrlf = false

[push]
    default = simple

[color]
    ui = auto

[alias]
    # frequently used
    st = status
    l = log
    pr = pull --rebase 
    cm = commit -m 
    co = checkout

    # log views
    ll = log --pretty=format:"%C(auto,green)%h\\ %C(auto,yellow)%ai%C(auto,red)%d\\ %C(auto,reset)%s%C(auto,blue)\\ [%cn]" --decorate 
    lal = log --pretty=format:"%C(auto,green)%h\\ %C(auto,yellow)%ai%C(auto,red)%d\\ %C(auto,reset)%s%C(auto,blue)\\ [%cn]" --decorate --numstat

    # list aliases
    la = "!git config -l | grep alias | cut -c 7-"

[diff]
    tool = Kaleidoscope
[difftool]
    prompt = false
[difftool "Kaleidoscope"]
    cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[difftool "diffmerge"]
    keepBackup = false
    trustExitCode = true
    cmd = diffmerge \"$LOCAL\" \"$REMOTE\"
[difftool "kdiff3"]
    keepBackup = false
    trustExitCode = false
[difftool "meld"]
    keepBackup = false
    trustExitCode = false

[merge]
    tool = Kaleidoscope
[mergetool]
    prompt = false
[mergetool "Kaleidoscope"]
    cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
    trustExitCode = true
[mergetool "diffmerge"]
    keepBackup = false
    trustExitCode = true
    cmd = "diffmerge --merge --result=\"$MERGED\" \"$LOCAL\" \"$(if test -f \"$BASE\"; then echo \"$BASE\"; else echo \"$LOCAL\"; fi)\" \"$REMOTE\""
[mergetool "kdiff3"]
    keepBackup = false
    trustExitCode = true
[mergetool "meld"]
    keepBackup = false
    trustExitCode = false
