[user]
    name = Lane Liles
    email = lane.liles@gmail.com
[core]
    editor = ec
    autocrlf = false

[color]
    ui = auto
[alias]
    st = status
    l = log
    pr = pull --rebase 
    cm = commit -m 
    co = checkout

[diff]
    tool = diffmerge
[difftool "diffmerge"]
    keepBackup = false
    trustExitCode = true
    cmd = diffmerge --merge --result=$MERGED $LOCAL $BASE $REMOTE
[difftool "kdiff3"]
    keepBackup = false
    trustExitCode = false
[difftool "meld"]
    keepBackup = false
    trustExitCode = false

[merge]
    tool = diffmerge
[mergetool "diffmerge"]
    keepBackup = false
    trustExitCode = true
    cmd = diffmerge $LOCAL $REMOTE
[mergetool "kdiff3"]
    keepBackup = false
    trustExitCode = true
[mergetool "meld"]
    keepBackup = false
    trustExitCode = false

